$primary: #fe0000;
$input-border-color: #ff3534; // f96f6a
$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;
$input-placeholder-color: #000;
$form-label-color: #707070;
$form-check-input-width: 1.4em;
$form-check-margin-bottom: 1rem;
$navbar-light-color: #000;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";

$bg-color-1: #4957d0;
$bg-color-2: #fe0000;
$section-title-color: #fc0101;
$font-family: "Playfair Display", serif;

@import "Form";
@import "FormHeader";
@import "Header";
@import "SectionHeader";

body {
  min-height: 100vh;
  background: linear-gradient(170deg, $bg-color-1 50%, $bg-color-2 50%);
  background-repeat: no-repeat;
}
